body {
    color: rgb(32, 9, 9);
   background: #0a0909;
background: linear-gradient(0deg,rgba(10, 9, 9, 1) 0%, rgba(23, 20, 20, 1) 37%, rgba(122, 24, 24, 1) 42%, rgba(31, 29, 29, 1) 48%, rgba(15, 10, 10, 1) 50%, rgba(212, 63, 63, 1) 55%, rgba(13, 12, 12, 1) 62%, rgba(242, 24, 17, 1) 88%, rgba(209, 41, 29, 1) 93%, rgba(20, 19, 16, 1) 100%);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(220, 238, 19);
    padding: 20px;
    font-size: 32px;
    color: rgb(43, 177, 222);
}

.chamada {
    background: rgb(33, 2, 2);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgba(248, 40, 8, 0.925);
}

.categoria h2 {
    color: rgb(238, 12, 12);
}

